<p style="color: green"><%= notice %></p>

<div class="jumbotron text-center">
  <h1 class="display-4">Events</h1>
</div>

<div id="events" class="row">
  <% @events.each do |event| %>
    <div class="col-md-2">
      <div class="card mb-2">
      <%= image_tag event.illustration, class: "card-img-top", alt: "Event Image" %>
      <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= event.description %></p>
          <%= link_to "Show this event", event, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>