<div class="jumbotron position-relative" style="background-image: url('<%= asset_path('party_girls.jpeg') %>'); background-size: cover; width: 100%; height: 50vh; background-position: center; position: relative; overflow: hidden;">
  <h1 class="text-center" style="padding: 25px; position: relative; z-index: 1; color: #fff;">Events</h1>
  <p class="text-center" style="position: relative; z-index: 1; color: #fff;">Let the giggles and the sparkle-filled festivities unfold, as we honor the joy of celebrating girls, each a delightful masterpiece of dreams, resilience, and the sweet essence of everything wonderfully, unapologetically girly!</p>
  <div class="gradient-overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, var(--bs-primary), var(--bs-secondary)); opacity: 0.8; z-index: 0;"></div>
</div>
<p style="color: green"><%= notice %></p>
<div id="events" class="row">
  <% @events.each do |event| %>
    <div class="col-md-2">
      <div class="card mb-2">
        <%= image_tag event.illustration, class: "card-img-top", alt: "Event Image" %>
        <div class="card-body">
          <h5 class="card-title"><%= event.title %></h5>
          <p class="card-text"><%= event.description %></p>
          <%= link_to "Show this event", event, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>