<div class="container mt-5">
  <p class="text-success"><%= notice %></p>

  <%= render @event %>

  <div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Participants</div>
  <div class="card-body">
    <h4 class="card-title">Voici le nombre de participants à cet event :</h4>
    <p class="card-text"><%= @event.users.count %></p>
  </div>
</div>

<hr> 

<div class="mt-4">
<%= link_to "Back to events", events_path, class: "btn btn-secondary" %>
</div>

  
  <div class="mt-4">
  <% if user_signed_in? && current_user == @event.admin %>
    <%= link_to "Edit this event", edit_event_path(@event), class: "btn btn-primary" %>
    <%= button_to "Destroy this event", @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <% end %>
  </div>

    <div class="mt-4">
    <% if user_signed_in? && current_user != @event.admin && !current_user.attendances.exists?(event_id: @event.id) %>
    <%= link_to "Passer commande", @session.url, class: "btn btn-primary", data: {turbo: false} %>
    <% end %>
    </div>
</div>