<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- manifest.js -->
    <%= stylesheet_link_tag 'bootstrap', media: 'all' %>

    <%= stylesheet_link_tag 'modern-business', media: 'all' %>

    <%= javascript_include_tag 'jquery.js', media: 'all'%>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <%= render 'layouts/navbar' %>

  <body>
    <%= yield %>
  </div>
  </body>
  <br>
  <footer class="footer text-center">
    <p> © Eventissime, fondé en l'an de grâce 2023, où la moussaillone anonyme, dite « la Gnôme » affrontait aux frontières du royaume son cousin le Duc de Beugs.</p>
</footer>
</html>