<!DOCTYPE html>
<html>
  <head>
    <title>Eventbrite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all' %>
    </head>

  <%= render 'layouts/navbar' %>

  <body>
    <%= yield %>
  </div>
  </body>
  
  <hr>

  <footer class="footer text-center bg-primary text-light p-1">
  <p>© Eventissime, fondé en l'an de grâce 2023, où les moussaillons affrontaient aux frontières du royaume leur cousin le Duc de Beugs.</p>
</footer>
</html>